requests
aws-wsgi 
flask
argcomplete
blinker
Bootstrap-Flask
boto3
botocore
certifi
cfn-flip
charset-normalizer
click
durationpy
Flask
Flask-Cors
flask-response
Flask-RESTful
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
frozenlist
greenlet
hjson
idna
itsdangerous
Jinja2
jmespath
kappa
MarkupSafe
marshmallow
mysqlclient
packaging
pampy
pip
placebo
python-dateutil
python-slugify
pytz
PyYAML
requests
s3transfer
setuptools
six
SQLAlchemy
text-unidecode
toml
tqdm
troposphere
typing_extensions
urllib3
Werkzeug
wheel
WTForms
