<h1>Política de eliminación de datos</h1>

<p>En Ads-engine respetamos su derecho a la privacidad y a controlar sus datos personales. Esta política explica cómo puede solicitar la eliminación de cualquier dato personal que hayamos recopilado sobre usted.</p>

<h2>Información que recopilamos</h2>

<p>Los tipos de datos que podemos haber recopilado sobre usted incluyen:</p>

<ul>
  <li>Datos de audiencia personalizados como intereses, ubicación, edad, etc. que nos proporcionó para generar anuncios relevantes.</li>

  <li>Información técnica como dirección IP y tipo de dispositivo y navegador utilizado cuando visitó nuestro sitio.</li>

  <li>Datos de uso del sitio como páginas visitadas y búsquedas realizadas.</li>

  <li>Identificadores únicos como cookies que permiten funcionamiento básico y seguridad del sitio.</li>
</ul>

<h2>Cómo solicitar la eliminación de sus datos</h2>

<p>Si desea que eliminemos los datos personales que hemos recopilado sobre usted, puede solicitarlo contactándonos a Kaizen Ads Colombia e incluyendo:</p>

<ul>
  <li>Su nombre completo y correo electrónico asociado a los datos a eliminar.</li>
  <li>Una descripción específica de los datos personales que desea sean eliminados.</li>  
</ul>

<p>Responderemos su solicitud dentro de 30 días y le informaremos sobre la eliminación de sus datos o le daremos una razón válida si no podemos cumplirla.</p>

<h2>Datos que no podemos eliminar</h2>

<p>En algunos casos, es posible que no podamos eliminar sus datos personales por razones legales o técnicas como el mantenimiento de registros financieros y transacciones.</p>

<p>Le informaremos si esto aplica cuando responda a su solicitud.</p>

<h2>Cambios a esta política</h2>

<p>Podemos modificar esta política, en cuyo caso publicaremos la versión revisada en nuestro sitio web y actualizaremos la fecha de "última actualización". Le recomendamos que revise regularmente esta página para mantenerse informado.</p>

<p>Esta política se actualizó por última vez el 09/08/2023.</p>
