{% extends 'includes/layout.html' %}
{% block body %}
<h1>Política de Privacidad</h1>

<p>Ads-engine se compromete a proteger su privacidad. Esta política de privacidad explica cómo se recopila, utiliza y comparte la información personal cuando visita o utiliza nuestro sitio web y servicios.</p>

<h2>Información que recopilamos</h2>

<p>Para proporcionar nuestros servicios, podemos recopilar la siguiente información:</p>

<ul>
  <li>Datos de audiencia personalizados que proporciona, como intereses, ubicación, edad, etc. Estos se utilizan para generar anuncios relevantes.</li>

  <li>Información técnica como dirección IP, tipo de dispositivo y navegador utilizado. Esto se usa para mejorar el funcionamiento del sitio.</li>

  <li>Datos de uso del sitio como las páginas visitadas y las búsquedas realizadas. Esto nos ayuda a mejorar la experiencia del usuario.</li>

  <li>Cookies que identifican de forma única su navegador. Puede consultar nuestra Política de Cookies para más detalles.</li>
</ul>

<h2>Cómo utilizamos la información</h2>

<p>Utilizamos la información recopilada para:</p>

<ul>
  <li>Proporcionar nuestros servicios de generación de anuncios personalizados.</li>
  <li>Mejorar y optimizar nuestro sitio web y servicios.</li>
  <li>Realizar análisis estadísticos sobre el uso del sitio sin identificar personalmente a los usuarios.</li>
  <li>Detectar y proteger contra fraude, spam, abusos y otros problemas.</li>
  <li>Cumplir con nuestras obligaciones legales y regulatorias.</li>
</ul>

<p>No vendemos ni alquilamos su información personal a terceros. Solo la compartimos con terceros de confianza que nos ayudan a operar, proveer, mejorar, entender, personalizar, respaldar y comercializar nuestros servicios.</p>

<h2>Sus derechos sobre su información</h2>

<p>Puede solicitar acceso, actualización, rectificación, portabilidad u olvido de los datos personales que tenemos sobre usted. También puede limitar o revocar el consentimiento que ha otorgado anteriormente. Para ejercer estos derechos, contáctenos.</p>

<h2>Cambios a esta política</h2>

<p>Podemos actualizar esta política de privacidad periódicamente. Le notificaremos cualquier cambio relevante publicando la nueva política de privacidad en esta página. Le recomendamos que revise esta página periódicamente para estar al tanto de cómo estamos protegiendo su información.</p>

<h2>Contáctenos</h2>

<p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos en: Kaizen Ads Colombia.</p>

<p>Esta política de privacidad fue actualizada por última vez el 09/08/2023.</p>
{% endblock %}
